---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";

interface Props {
  post: CollectionEntry<"post">;
}

const {
  post: { data },
} = Astro.props;
const subtitle = data.subtitle ?? data.description;

const dateTimeOptions: Intl.DateTimeFormatOptions = {
  month: "long",
};
---

{
  data.coverImage && (
    <div class="mb-6 aspect-video">
      <Image
        alt={data.coverImage.alt}
        class="object-cover"
        fetchpriority="high"
        loading="eager"
        src={data.coverImage.src as unknown as ImageMetadata}
      />
    </div>
  )
}
{data.draft ? <span class="text-base text-red-500">(Draft)</span> : null}
<h1 class:list={["article-title", subtitle ? "mb-2" : "mb-8 sm:mb-12"]}>
  {data.title}
</h1>
{subtitle && <p class="subtitle">{subtitle}</p>}
<div
  class="font-plex-serif flex flex-wrap items-center gap-x-3 gap-y-2 text-base text-gray-700 italic dark:text-gray-300"
>
  <p>
    <FormattedDate date={data.publishDate} dateTimeOptions={dateTimeOptions} />
  </p>
  {
    data.updatedDate && (
      <span class="bg-quote/5 text-quote rounded-md px-2 py-1">
        Updated:
        <FormattedDate class="ms-1" date={data.updatedDate} dateTimeOptions={dateTimeOptions} />
      </span>
    )
  }
</div>
