---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";
import Analytics from "@vercel/analytics/astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  meta: SiteMeta & { post?: CollectionEntry<"post"> };
}

const {
  meta: { articleDate, description = siteConfig.description, ogImage, title, post },
} = Astro.props;
---

<html class="scroll-smooth" lang={siteConfig.lang}>
  <head>
    <BaseHead
      articleDate={articleDate}
      description={description}
      ogImage={ogImage}
      title={title}
      post={post}
    />
  </head>
  <body class="bg-background antialiased dark:scrollbar-thumb-gray-700">
    <div
      class="text-foreground text-offgray dark:text-offgray-300 flex min-h-svh min-w-svw flex-col text-sm"
    >
      <ThemeProvider />
      <SkipLink />
      <Header />
      <main id="main" class="relative flex flex-grow flex-col pt-3 sm:pt-3 [&>*]:relative">
        <slot />
      </main>
      <Footer />
    </div>
    <Analytics />
  </body>
</html>
